#Header {
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 500px;
    text-align: center;
        border-radius: 25px;
        background: #73AD21;
        padding: 20px; 
        width: 200px;
        height: 150px; 
      }
      
}

#Header h1 {
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold;
}

#Content {
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 700px;
    text-align: center;
    padding: 15px;
    borderimg {
        border: 10px solid transparent;
        padding: 15px;
        border-image: url(border.png) 30 round;
      }
}

#LeftNav {
    border: solid 8px black;
    margin-bottom: 10px;
    width: 400px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    border: 1px solid red;
}

#Footer {
    border: solid 8px black;
    text-align: center;
    ul{
        list-style-type: none;
        padding-left: 0px;
    }
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

p{
    color: white;
    font-family: "Arial";
}

h3{ 
    color: #FFBC00; 
    font-size: 40px;
    font-family: "Passion One"; 
    and margin-bottom: 0px;
}

div{
background-color: #8E41D5;
}

body{
    background-image: url('price.jpg');
}
a{
    color: white; 
    font-weight: bold; 
    font-size: 24px;
}
p {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  }
 
  h1 {
    text-shadow: 2px 2px;
  }

h3{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('price.jpg') 30 round;
  }
  p.mix {
      border-style: dotted dashed solid double;
    }